*{
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}


/* nav -------------------- */


body {
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}

/* PARTE DEL NAV */
.header {
    background-color: transparent;
    height: 80px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
 .nav-toggle i {
   color: #3a0000;
   
 }
  .nav-link {
    color: #000;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    margin: auto;
    list-style: none;
    
    
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 30px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgb(199, 82, 4);
    transition: 0.5s;
    color: #000;
  }

  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;
  }
  
  /* MOBILE */
  @media (max-width: 885px) {

    .header {
      height: 60px;
      z-index: 100;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
      text-decoration: none;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: rgb(56, 95, 146);
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
        
      height: calc(100% - 60px);
      
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #f78383;
    }
    
    

    .nav-toggle {
      display: block;
      
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
    
  }





















/* FORMULARIO */
.img-contacto {
    display: flex;
    margin: auto;
    width: 200px;
    margin-top: 130px;
}


.texto1-contactanos{
    position: absolute;
  }
  
  .texto1-contactanos h2 {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 60px;
  }
  
  .div-container {
    background-color: rgb(229, 231, 235);
    height:570px;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.418);
    max-width: 600px;
  }
  
  .div-container h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 12px;
  
  }
  
  .description strong{
    color: #ff5437;
  }
  
  .contacto-link{
    text-decoration: none;
  }
  
  .contacto-link:hover{
    background-color: rgba(255, 85, 55, 0.185);;
  }
  
  .contacto-link::after{
    background-color: rgba(255, 85, 55, 0.185);;
  }
  
  
  .form-contacto  form input {
    width: 90%;
    padding: 10px;
    margin: 20px;
   
  }
  
  
  
  
  .boton-formulario {
    background-color: #ff5437;
    color: #fff;
    border-radius: 6px;
    margin: auto;
    display: flex;
    padding: 5px 50px;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 2px;
    border: 0px;
  }
    
  
  
  .form-contacto input {
    border: none;
    border-bottom: 0.5px solid #3498db;
    background-color: rgb(229, 231, 235);
    border-radius: 4px;
  }  
  
  
  @media only screen and (min-width : 768px) {
    .div-container {
      background-color: rgb(229, 231, 235);
      height:570px;
      width: 100%;
      margin: auto;
     margin-top: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.418);
      max-width: 600px;
  }
  
  .div-container h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
    color: #000;
    padding: 12px;
  
  }
  
  
    
  }


  /* PARTE DEL NAV */


  .nav {
    max-width: 992px;
    margin: 0 auto;
  }

  .nav-link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    
  }

  .nav-item {
      list-style: none;
      margin: 16px;
  }




  /* PARTE DEL FOOTER */

#contenedor-footer {
    background: rgba(8,89,223,0.83);
background: linear-gradient(76deg,rgba(8,89,223,0.83) 0%, rgba(61,141,206,0.57) 80%);
background: -webkit-linear-gradient(76deg,rgba(8,89,223,0.83) 0%, rgba(61,141,206,0.57) 80%);
background: -moz-linear-gradient(76deg,rgba(8,89,223,0.83) 0%, rgba(61,141,206,0.57) 80%);
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;


}

.div-footerh {
    color: #fff;
    margin: 20px;
    text-align: center;
}

.div-footerh h2 {
    font-size: 50px;
    color: #fff;
    font-weight: 1000;
    text-align: center;
}

.div-footerh h3 {
    text-align: center;
    
}

.footer {
    display: flex;
    flex-direction: column;
    margin: auto;
}


.footer-iconos {
    margin: auto;
    background-color: transparent;
}
.footer-iconos i {
   padding: 30px;
   font-size: 40px;
   background: transparent;
   transition: all 0.3s linear;
   
}

.footer-iconos a {
    color:#fff;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.footer-iconos i:hover {
    transform: scale(1.2);
}

